.container{
    display: flex;
}
/*             about_section */
.about_section{
    margin: 60px 5px 5px 80px ;
    width: 50vw;
height: 50vh;
flex-shrink: 0;
border-radius: 33.428px;
background: #5746EA;
 display: inline-flex;
}
.profile{
    display: inline-flex;    
}
.profile_photo{
    margin: 20px;
    height: 45vh;
}
.details{
    margin-left: 20px;
    color: antiquewhite;
    display:inline-block;
     flex-direction: column;      
}
.details_name{
    color: #FFF;
    font-family: Roboto;
    font-size: 36.947px;
    font-style: normal;
    font-weight: 400;
    line-height: 103.188%;
    letter-spacing: 0.739px;
    display: inline-flex;
    margin-bottom: -15px;
}
.details_email{
    color: #FFF;
font-family: Roboto;
font-size: 36.947px;
font-style: normal;
font-weight: 400;
line-height: 103.688%; 
letter-spacing: 0.739px;
margin-bottom: 20px;

}
.details_uName{
    margin-left:0px ;
    margin-top: 0px;
    color: #FFF;
font-family: Roboto;
font-size: 72.134px;
font-style: normal;
font-weight: 500;
line-height: 66.188%; 
letter-spacing: 1.443px;
}
.Catergories_b{display: flex;
    flex-direction: column;
    
  }
.S_Catergories{
    width: 180px;
height: 61.578px;
flex-shrink: 0;
color: #FFF;
font-family: Roboto;
font-size: 28.15px;
font-style: normal;
font-weight: 400;
line-height: 105.688%;
letter-spacing: 0.563px;
    border-radius: 36.947px;
    text-align: center;
    justify-content: center;
background: #9F94FF; 

}

/*         weather  section       */
.weather_section{
    width: 50rem;
    height: 45vh;
    color: #FFF;
    border-radius: 33.428px;
    position: relative;
    top: 65vh;right: 47vw;
background: #101744;
display: inline-block;

}
.timezone{border-radius: 33.428px 33.428px 0px 0px;
    background: #FF4ADE;color: #FFF;
    color: #FFF;
font-family: Roboto;
font-size: 40.06px;
font-style: normal;
font-weight: 600;
line-height: normal;
display: flex;
justify-content: space-around;
}
.weatherzone{
    display: flex;
    align-items: center;
    color:#FFF ;
     justify-content: space-around; 
}
.weatherzone img{height: 15vh; width: 8vw;}
.weatherzone p{
    color: #FFF;
font-family: Roboto;
font-size: 24.599px;
font-style: normal;
font-weight: 400;
line-height: 139.688%; 
margin-bottom: 4rem;
}
.weatherzone span{
    font-size: 78.224px;
}
.weatherzone p img{
    height: 5vh;width: 2vw;
}
.vl {
    border-left: 1.367px solid  #FFF;;
    height: 10rem;
    margin-bottom: 3rem;
  }
.weatherzone span sup{ margin-bottom: 50px;}
 #p1{font-size: 31.432px;margin-bottom: 4rem;}

/* News Section  */
 .news_section{
    height: 90vh;width: 30vw;border-radius:12px ;display:inline-block; flex-shrink: 0; 
    margin-top: 30px;
    margin-left: 65vw;
    position:absolute;
 }

 .news_section img{
    height: 50vh;width: 30vw;
    border-radius:19px 19px 0px 0px ;
    position:absolute;
 }
 .n_description{  height: 25vh;
    border-radius: 0px 0px 19px 19px;
    width: 30vw;
    background-color:#FFF;
    color: #272727;
    text-align: justify;
    font-family: Roboto;
    font-size: 18.25px;
    font-style: normal;
    font-weight: 400;
    line-height: 161.688%;
    margin-top: 0vh; 
 }
.news_details{
width: 30vw;height: 25vh;background: rgba(0, 0, 0, 0.74);margin-top: 60vh; 
}

.news_details p{color: #FFF;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 123.688%; 
    letter-spacing: 0.64px;
    margin-bottom: 0px;
}
.news_details span{
    color:#FFF;
    width: 30vw;
font-family: Roboto;
font-size: 18.249px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

