.about_section{
    margin: 60px 5px 5px 80px ;
    width: 50vw;
height: 50vh;
flex-shrink: 0;
border-radius: 33.428px;
background: #5746EA;

 display: inline-flex;
    /* flex-direction: row; */
}
.profile{
    display: inline-flex;    
}
.profile_photo{
    margin: 20px;
    height: 45vh;
}
.details{
    margin-left: 20px;
    color: antiquewhite;
    display:inline-flex;
     flex-direction: column;      
}
.details_name{
    color: #FFF;
    font-family: Roboto;
    font-size: 36.947px;
    font-style: normal;
    font-weight: 400;
    line-height: 103.188%;
    letter-spacing: 0.739px;
    display: inline-flex;
    margin-bottom: -15px;
}
.details_email{
    color: #FFF;
font-family: Roboto;
font-size: 36.947px;
font-style: normal;
font-weight: 400;
line-height: 103.688%; 
letter-spacing: 0.739px;
margin-bottom: 20px;

}
.details_uName{
    margin-left:0px ;
    margin-top: 0px;
    color: #FFF;
font-family: Roboto;
font-size: 72.134px;
font-style: normal;
font-weight: 500;
line-height: 66.188%; 
letter-spacing: 1.443px;
}
.Catergories_b{
   
    margin-top: 10px;
    /* margin-right: 200px; */
    /* display:flex;   
    flex-direction:column,2; */
}
.S_Catergories{
    width: 180px;
height: 61.578px;
flex-shrink: 0;
color: #FFF;
font-family: Roboto;
font-size: 28.15px;
font-style: normal;
font-weight: 400;
line-height: 105.688%; /* 29.751px */
letter-spacing: 0.563px;
    border-radius: 36.947px;
    text-align: center;
    justify-content: center;
background: #9F94FF; 
}
.weather-details{
    width: 50vw;
    height: 45vh;
    margin: 60px 0px 0px 80px ;
    color: #FFF;
    border-radius: 33.428px;
background: #101744;
}
.timezone{border-radius: 33.428px 33.428px 0px 0px;
    background: #FF4ADE;color: #FFF;
    color: #FFF;
font-family: Roboto;
font-size: 40.06px;
font-style: normal;
font-weight: 600;
line-height: normal;
display: flex;
/* flex-direction: row; */
justify-content: space-around;
/* align-items: center; */
}
.weatherzone{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}